{% extends 'user-main.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/notification.css' %}">
{% endblock styles %}

{% block content %}
<form class="search-bar" action="{% url 'notifcations' %}" method="get">
    <div class="search-container">
        <input
            type="text"
            placeholder="Search messages, vehicles, or repairs..." 
            aria-label="Search"
            name="search_query"
            value="{{search_query}}"
        />
        <button type="submit">
            <svg class="icon" viewBox="0 0 24 24">
                <path d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 1016.65 16.65z"/>
            </svg>
        </button>
    </div>
</form>

<div class="notifications-container">
    <div class="notifications-header">
        <h1>Notifications</h1>
        <button class="mark-read">Mark all as read</button>
    </div>
    <p class="subtitle">Stay updated with your vehicle service progress</p>

    <div class="notification-list">
        {% for notification in notification_list %}
        <a href="">
            <div class="notification-item">
                <div class="notification-icon blue">⏱</div>
                <div class="notification-content">
                    <h3>{{ notification.title }}</h3>
                    <p>Brake system maintenance is {{notification.vehicle.progress}}% complete</p>
                    <p class="vehicle">{{notification.vehicle.make}} {{notification.vehicle.model}} {{notification.vehicle.year}}</p>
                </div
                <div class="notification-meta">
                    <span class="time">{{notification.created_at|timesince}} ago</span>
                    <span class="status-dot blue"></span>
                    <span class="arrow">›</span>
                </div>
            </div>
        </a>
        {% endfor %}

        <!-- <div class="notification-item">
            <div class="notification-icon green">✓</div>
            <div class="notification-content">
                <h3>Service Completed</h3>
                <p>Engine diagnostics and tune-up has been completed</p>
                <p class="vehicle">Vehicle: Ford F-150 2019</p>
            </div>
            <div class="notification-meta">
                <span class="time">1 day ago</span>
                <span class="arrow">›</span>
            </div>
        </div> -->

    </div>
</div>

{% include 'pagination.html' with queryset=notification_list custom_range=custom_range %}

{% endblock content %}