{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'styles/sa-main.css' %}">
{% endblock %}
<body>
    <div class="container">
        <nav class="sidebar">
            <div class="logo">MotoTrack</div>
            <ul class="nav-items">
                <li class="active"><a href="#"><span class="icon">🔧</span> Service Adviser</a></li>
                <li class=""><a href="#"><span class="icon">🚗</span>Vehicle Management</a></li>
                <li><a href="#"><span class="icon">🔔</span> Notifications</a></li>
                <li><a href="#"><span class="icon">👤</span> Profile</a></li>
                <li><a href="#"><span class="icon">⚙️</span> Settings</a></li>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="logout-section">
                <a href="{% url 'logout' %}" class="logout-btn"><span class="icon">🚪</span> Logout</a>
            </div>
            <div class="logout-section">
                <a href="{% url 'delete-account' %}" class="logout-btn"><span class="icon">🚪</span>Delete Account</a>
            </div>
            {% endif %}
        </nav>
        
        <main class="main-content">
            <header>
                <div class="user-info">
                    <span class="notification-icon">🔔</span>
                    <span class="user-name">John Doe</span>
                    <span class="user-avatar">👤</span>
                </div>
            </header>
            {% block content %}

            {% endblock %}
        </main>
        
</body>