{% extends 'sa-main.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/sa-notification-management.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="not-header">
        <div>
            <h1>Notifications Management</h1>
            <p>Manage and send notifications to customers</p>
        </div>
    </div>
    
    <form method="get" action="{% url 'sa-notifications' %}">
        <div class="search-bar">
            <input
                type="text"
                name="search_query"
                value="{{search_query}}"
                class="search-input"
                placeholder="Search notifications..."
            />
            <!-- <button class="filter-button">
                <i class="fas fa-filter"></i>
                All Types
            </button> -->
        </div>
    </form>

    <div class="notifications-list">

        {% for notification in notification_list %}
        <div class="notification-card">
            <div class="notification-header">
                <span class="notification-title">{{ notification.customer.first_name }} {{ notification.customer.last_name }}</span>
                <span class="notification-time">{{ notification.created_at|timesince }}</span>
            </div>
            <div class="notification-vehicle">{{ notification.vehicle.year }}</div>
            <p>{{ notification.message|slice:":100" }}. . . .</p>
            <div class="notification-status">
                <span class="status-sent">Sent</span>
                <span class="status-read"><i class="fas fa-check"></i>Unread</span>
            </div>
        </div>
        {% endfor %}
        
    </div>
</main>
{% endblock %}

</html>